body{
    background-color: white;
    font-family: 'Hind Madurai', sans-serif;
}

h1,h2,h3{
    font-family: 'Quicksand', sans-serif;
}
aside{
    height: 45px;
    background-color: yellow;
    text-align: center;
    font-size: 100%;
    display: none;
}

header{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #072e74;
    color: white;
    padding: 5px;
}
.cloud{
    width: 60px;
}
header h1,p{
    margin: 0;
}
.sky{
    margin: 15px 0;
}

nav {
	margin: 0 auto;
	background-color: #6db9d5;
}
.page{
    background-color: #EAF2F1;
}
.navigation {
	list-style: none;
	padding: 0;
}
ul.navigation{
    margin: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
    display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
}
.navigation a:hover {
	color: white;
	background-color: #072e74;
}

.responsive li {
	display: block;
}
h2{
    margin: 0;
    padding: .5rem;
}
main{
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px 20px;
}
figcaption{
    text-align: center;
    display: none;
}
img{
    max-width: 250px;
}

.contact{
    background-color: burlywood;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prestonmap{
    display: none;
}
footer{
    margin: 0 auto;
    background-color: #676767;
    text-align: center;
    color: #EAF2F1;
}

footer a{
    color: white;
}
