@media only screen and (min-width: 60em){
    header{
        font-size: medium;
        padding: 7px;
    }

    main{
        max-width: 78rem;
        margin:auto;
    }

    .weatherpic{
        display: block;
    }
    .towns {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .towns img {
        padding: .5rem;
        max-width: 400px;
        max-height: 400px;
    }
    .towns section{
        display: block;
    }
    

    footer {
        width: 85%;
    }
}