@media only screen and (min-width: 37.5em){
	aside{
		font-size: 150%;
	}
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }
    
    main{
		grid-template-columns: 1fr 1fr;
		text-align: left;
		max-width: 90%;
	}
	.weatherpic{
		float: right;
	}
	.towns section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		clear: both;
	  }
	.towns section:nth-child(odd) .data {
		grid-column: 1;
		grid-row: 1;
		}
	.towns section:nth-child(odd) img {
		grid-column: 2;
	}
	
    footer {
        width: 90%;
	}
}