body{
    background-color: white;
    font-family: 'Hind Madurai', sans-serif;
    color: black;
}

h1,h2{
    font-family: 'Quicksand', sans-serif;
    color: rgb(56, 7, 102);
    text-align: center;
}

img {
    max-width: 300px;
    max-height: 350px;
}

main{
    background-color: lightgray;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: lightgray;
    gap: 8px;
    padding: 2rem;
}

section {
    background-color: #b8bbcc;
    border: 2px solid #b8bbcc;
    text-align: center;
}


/* MEDIUM SCREEN */

@media only screen and (min-width: 35rem) {
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    h1 {
        font-size: 5rem;
    }
}


/* LARGE SCREEN  */

@media only screen and (min-width: 64rem) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}