body{
    font-family: 'Jost', sans-serif;
}
.content {
    margin: 0 auto;
    background-color: white;
    width: 85%;
    padding: 15px;
    border-radius: .5em;
}
h1, h2, h3{
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

img{
    width: 70%;
    text-align: center;
}
header, footer{
    background-color: #630A10;
    color: white;
    text-align: center;
    border-radius: .5em;
    padding: .5em;
}
footer a{
    color: white;
}
.fitt{
    background-color:#fffef1;
    color: #2d000b;
    text-align: center;
    border-radius: 4%;
    margin: 3%;
}
.hick{
    background-color: #fffef1;
    color: #2d000b;
    text-align: center;
    border-radius: 4%;
    margin: 3%;
}
.whitespace{
    background-color: #fffef1;
    color: #2d000b;
    text-align: center;
    border-radius: 4%;
    margin: 3%;
}
h2{
    background-color: #911f27;
    color: white;
    text-align: center;
    border-radius: .5em;
    padding: 8%;
    margin: 0px;
}