@media only screen and (min-width: 60em){
    header{
        font-size: medium;
        padding: 7px;
    }

    main{
        max-width: 78rem;
        margin:auto;
    }
    .article{
		display: flex;
    }
    h1{
        text-align: center;
    }
    .words{
        display: flex;
        justify-content: center;
        align-items: center;
    }
	.weatherpic{
		max-height: 400px;
	}
    .towns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .towns img {
        padding: .5rem;
        max-width: 400px;
        max-height: 400px;
    }
    .towns section{
        display: block;
    }
    

    footer {
        width: 85%;
    }
}