body{
    background-color: white;
    font-family: 'Hind Madurai', sans-serif;
    margin: 0 auto;
    width: 75%;
    padding: 15px;
    border-radius: .5em;
}
h1,h2{
    font-family: 'Quicksand', sans-serif;
}
.header{
    background-color: #072e74;
    color: white;
    padding: 1%;
}
.nav{
    background-color: #6db9d5;
    padding: 3%;
}
.main{
    background-color: #EAF2F1;
    padding: 3%;
}
.footer{
    background-color: #6db9d5;
    padding: 3%;
}
.background{
    background-color: white;
    padding: 3%;
}

header{
    text-align: center;
    background-color: #072e74;
    color: white;
    padding: 3%;
}

nav{
    background-color: #6db9d5;
    text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}
nav ul li a {
	display: block;
	color: #EAF2F1;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

main{
    background-color: #EAF2F1;
}
img{
    width: 50%;
}

footer{
    background-color: #6db9d5;
    text-align: center;
    color: #EAF2F1;
}